@model CommentFilterModel

@{
  Layout = "_SearchForm";
}

<div class="col-auto">
  <label class="visually-hidden" asp-for="UserName"></label>
  <input type="text" class="form-control" placeholder="Nhập tên độc giả ..." asp-for="UserName">
</div>
<div class="col-auto">
  <label class="visually-hidden" asp-for="PostTitle"></label>
  <input type="text" class="form-control" placeholder="Nhập tên bài viết ..." asp-for="PostTitle">
</div>
<div class="col-auto">
  <label class="visually-hidden" asp-for="Year"></label>
  <input type="text" class="form-control" placeholder="Nhập năm ..." asp-for="Year">
</div>
<div class="col-auto">
  <label class="visually-hidden" asp-for="Keyword"></label>
  <select asp-for="Month" asp-items="Model.MonthList" class="form-select">
    <option value="" selected >-- Chọn tháng</option>
  </select>
</div>
<div class="col-auto">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" asp-for="Censored" >
    <label class="form-check-label" asp-for="Censored"></label>
  </div>
</div>