@model IList<Post>

<div class="p-4">
    <h3 class="text-primary mb-3">
        Top 5 bài viết ngẫu nhiên
    </h3>

    @foreach (var postItem in Model)
    {
        <partial name="_PostItem" model="postItem" />
    }
</div>