<div class="my-4">
    <partial name="_SearchForm" />

    @await Component.InvokeAsync("CategoriesWidget")

    @await Component.InvokeAsync("FeaturedPosts")

    <partial name="_NewsletterForm" />

    @await Component.InvokeAsync("TagCloud")

    @await Component.InvokeAsync("Archives")
</div>