@model AuthorFilterModel

@{
  Layout = "_SearchForm";
}

<div class="col-auto">
  <label class="visually-hidden" asp-for="Email"></label>
  <input type="text" class="form-control" placeholder="Nhập email ..." asp-for="Email">
</div>