@model IList<Tag>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Các thẻ tag cloud
    </h3>
    <div class="tag-list">
        <partial name="_TagList" model="@Model" />
    </div>
</div>